<h1>Welcome to BirdieBook</h1>

<br>
<br>
<br>

  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB13kLQXpooBKNjSZPhq6A2CXXaf/Plastic-Golf-Scorecard-Holder-Scoreboard-Score-Card-Board-Notebook-Score-Indicator-Tracking-Card-Scorecard-Holder-with.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Add New Round</h5>
      <p class="card-text" style="color: green">See where you stack up.  Find new playing partners.</p>
      <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p -->
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://dur-duweb.newscyclecloud.com/storyimage/DU/20190728/SPORTS01/190729663/EP/1/1/EP-190729663.jpg?ts=1564366380&imageversion=1by1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Recent Rounds</h5>
      <p class="card-text" style="color: green">Keep an eye on the latest scores.</p>
      <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p -->
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://img.bleacherreport.net/img/images/photos/003/357/336/hi-res-8b22427fac5453db097ece51b180db86_crop_north.jpg?1428949179&w=3072&h=2048" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Best Ever Rounds</h5>
      <p class="card-text" style="color: green">Admire the all-time leaderboard.  Can you make the cut?</p>
      <!-- p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p -->
    </div>
  </div>
</div>

<br>
<br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://pga.com/_img/Rob-Labritz-Nutrition.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Golfers</h5>
      <p class="card-text" style="color: green">See where you stack up.  Find new playing partners.</p>
      <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p -->
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.themeadowsgolfclub.com/wp-content/uploads/2018/12/DJI_0192-1030x771.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">All Courses</h5>
      <p class="card-text" style="color: green">Search for places to play.  Add new courses you discover.</p>
      <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p -->
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.denverpost.com/wp-content/uploads/2019/06/AP19156659875639.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Top Courses</h5>
      <p class="card-text" style="color: green">The best of the best.  Verified by your peers!</p>
      <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p -->
    </div>
  </div>
</div>